In [2]:
import pandas as pd
from tqdm import tqdm
df = pd.read_csv('Documents/songs.csv')

In [3]:
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

In [6]:
#  Checking Null Values
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

In [7]:
# Data Preprocess
# Dealing with Duration
duration_lst = []
for duration in df['duration']:
  m = int(duration.split(':')[0])
  s = int(duration.split(':')[1])
  sec = (m*60) + s
  duration_lst.append(sec)
df['duration'] = duration_lst
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu

In [8]:
#  Average Duration of a song thorughout the dataset
print("Average duration of a song is", int(df['duration'].sum() / len(df['duration'])), 'seconds')

Average duration of a song is 295 seconds

In [9]:
# How many laguages of songs are there is the dataset?
len(set(df['language']))

16

In [10]:
# What are all the languages in the dataset?
for i in set(df['language']):
  print(i)

Rajasthani
Bengali
Marathi
Haryanvi
Odia
Gujarati
Tamil
Old
Malayalam
Punjabi
Assamese
Urdu
Bhojpuri
Telugu
Hindi
Kannada

In [11]:
# How many Punjabi songs are there?
c = 0

for i in df['language']:
  if (i == 'Punjabi'):
    c += 1

print('There are',c,'songs in Punjabi')

There are 3818 songs in Punjabi

In [12]:
len(df[df['language'] == 'Punjabi'])

3818

In [13]:
# Number of songs in each Language?
for lang in df['language'].unique():
  print(lang, len(df[df['language'] == lang]))

Urdu 3116
Gujarati 2115
Tamil 4677
Kannada 3559
Rajasthani 541
Haryanvi 228
Punjabi 3818
Hindi 4993
Old 4993
Malayalam 479
Marathi 4699
Telugu 4996
Odia 940
Bhojpuri 519
Assamese 724
Bengali 958

In [15]:
# Average Duration of song in each language
for lang in df['language'].unique():
  print(lang, int(df[df['language'] == lang]['duration'].mean()),'sec')

Urdu 407 sec
Gujarati 271 sec
Tamil 270 sec
Kannada 250 sec
Rajasthani 291 sec
Haryanvi 320 sec
Punjabi 324 sec
Hindi 307 sec
Old 307 sec
Malayalam 242 sec
Marathi 281 sec
Telugu 279 sec
Odia 257 sec
Bhojpuri 357 sec
Assamese 228 sec
Bengali 255 sec

In [16]:
# How many unique singers are there in the dataset?
all_singer = []
for singers in df['singer']:
  all_singer += singers.split('|')

print('Total Singers : ', len(set(all_singer)))

Total Singers :  3940

In [17]:
# Who has the most number of songs played?
data = []

unique_singers = list(set(all_singer))

for i in tqdm(unique_singers):

  c = 0
  for singers_ in df['singer']:
    if (i in singers_):
      c += 1

  data.append([i,c])

100%|██████████| 3940/3940 [00:57<00:00, 68.23it/s]

In [18]:
songs = pd.DataFrame(data, columns = ['singer','songs'])

songs.head()

songs.sort_values(by = 'songs', ascending = False).head()

                      singer  songs
3616  S. P. Balasubrahmanyam   3659
1487                   Kumar   3270
793                  Susheel   3216
768                 Susheela   3215
2078             P. Susheela   3213

In [ ]:
# Singer who played most number of songs in each language